@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Storm&display=swap');

/* This is a list of variables. The following is an example of using a variable.  */
/* color: var(--primary-color); */
:root {
    --primary-color: #2D7DD2;
    --secondary-color: #97CC04;
    --accent1-color: #EEB902;
    --accent2-color: #474647;

    --heading-font: 'Rubik 80s Fade', cursive;
    --paragraph-font: 'Rubik Storm', cursive;

    --nav-background-color: #010101;
    --nav-link-color: #0E34A0;
    --nav-hover-link-color: #2F3061;
    --nav-hover-background-color: #5F5980;
}

/* This is the CSS page for the Site Plan for the Rafting Page */

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 40px;
    background-color: var(--accent1-color);
}

p {
    padding: 50px;
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    font-size: 1.2rem;
}

nav a {
    display:block;
    color: var(--nav-link-color);
    padding: 1rem;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


